<!DOCTYPE html>
<html>
  <head>
    <title>Play Game <%= game_id %> - Balance Scale</title>
    <style>
    </style>
  </head>
  <body>
    <h1>GAME <%= game_id %></h1>
    <h3><%= nickname %></h3>
    <p>Score: <span id="score">0</span></p>
    <div id="content">
      <p>Please wait until the host starts the game</p>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      var socket = io();
      var round = 0;
      var score = 0;
      socket.on('round start', function(that_game_id) {
          if (that_game_id == <%= game_id %>){
            round ++;
            document.getElementById("content").innerHTML = `<h3>Round ${round}</h3>`
            const newDiv = document.createElement("div");
            newDiv.id = "form"
            newDiv.innerHTML +=  `
            <p>Pick a number between 1 to 100.</p>
            <input type="number" id="number">
            <button type="submit" onclick="submitNumber()">Submit</button>
            `
            document.getElementById("content").appendChild(newDiv)
          }
      })
      socket.on('round end', function(that_game_id, user_data, scores) {
          if (that_game_id == <%= game_id %>){
            const user_scores = Object.values(user_data);
            const average = list => list.reduce((prev, curr) => prev + curr) / list.length;
            const winning_score = average(user_scores) * 0.8;
            const winner_score = user_scores.reduce((prev, curr) => Math.abs(curr - winning_score) < Math.abs(prev - winning_score) ? curr : prev);
            const winner = Object.keys(user_data).filter(function(key) {return user_data[key] === winner_score})[0];
            document.getElementById("content").innerHTML = `<h3>Round ${round} results</h3>`
            const newTable = document.createElement("table");
            const tr_1 = document.createElement("tr")
            const tr_2 = document.createElement("tr")
            const tr_3 = document.createElement("tr")
            for (let user in user_data){
              const th = document.createElement("th");
              th.innerText = user;
              tr_1.appendChild(th)
              const td_1 = document.createElement("td")
              td_1.innerText = user_data[user]
              if (user == winner){
                td_1.style.color = "green";
              } else {
                td_1.style.color = "red";
              }
              tr_2.appendChild(td_1)
              const td_2 = document.createElement("td")
              td_2.innerText = scores[user]
              if (user == winner){
                td_2.style.color = "green";
              } else {
                td_2.style.color = "red";
              }
              tr_3.appendChild(td_2)
            }
            newTable.appendChild(tr_1)
            newTable.appendChild(tr_2)
            newTable.appendChild(tr_3)
            // for (let user in user_data) {
            //   const p = document.createElement("p");
            //   if (user == winner){
            //     p.innerText = "WINNER: " + user + ":" + user_data[user]
            //     p.style.fontWeight = "bold";
            //   } else {
            //     p.innerText = user + ":" + user_data[user]
            //   }
            //   newDiv.append(p); 
            // }
            document.getElementById("content").appendChild(newTable)
            if (winner != "<%= nickname %>"){
              score -= 1;
              document.getElementById("score").innerText = score;
            }
          }
      })
      function submitNumber(){
        let number = document.getElementById("number").value;
        if (number > 100 || number < 0){
          document.getElementById("number").value = "";
        } else {
          socket.emit('submit number', "<%= nickname %>", <%= game_id %>, number);
          document.getElementById("form").innerHTML = "Number submitted!"
        }
      }
  </script>
  </body>
</html>